.card {
  border: 2px solid rgba(136, 136, 136, 0.4);
  border-radius: 20px;
  padding: 15px;
  margin: 2px;
  width: 200px;
  height: 330px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out,
    border 0.2s ease-in-out;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(222, 184, 135, 0.212);
  // z-index: 1;

  &:hover {
    box-shadow: 0px 5px 10px 0px rgba(71, 71, 71, 0.404);
    border: 2px solid rgb(136, 136, 136);
    transform: translateY(-2px);

    // z-index: 1;
    .check {
      visibility: visible;
      opacity: 1;
      cursor: pointer;
      // transition: visibility 0.5s ease-in-out;
    }
  }

  p {
    margin: 20px 0;
    font-style: italic;
  }
}
.main-img-card {
  max-width: 90%;
}
.buyed {
  position: absolute;
  // font-size: 8px;
  // display: block;
  animation-name: buyed;
  animation-duration: 0.5s;

  opacity: 0;
  // border: 2px solid rgb(136, 136, 136);
  width: 200%;
  right: -40%;
  &:hover {
    // animation-fill-mode: both;
  }
}

.content-price-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // overflow: hidden;
  // z-index: 2;
  .btn {
    transition: transform 0.2s ease-in-out;
    // overflow: visible;

    // z-index: 3;
    &:hover {
      transform: scale(1.1);
      // overflow: visible;
    }
    &:active {
    }
  }
  .add {
    opacity: 75%;
  }
  .added {
    animation-name: clickBtns;
    animation-duration: 0.2s;
  }
}
.content-price {
  display: flex;
  flex-direction: column;
}

.check {
  position: absolute;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
  // z-index: 0;
}

.main-img-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes clickBtns {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes buyed {
  0% {
    font-size: 100%;
    opacity: 1;

    transform: translate(0px, -60px);
  }
  // 40% {
  // opacity: 1;
  // transform: translateY(-80px);
  // }
  100% {
    opacity: 0;
    transform: translate(20px, -100px);
    font-size: 50%;
  }
}
