// .cart-wrap {
//   // border: 2px solid rgb(144, 5, 5);
//   overflow: auto;
//   // display: flex;
// }
.card-close {
  cursor: pointer;
}

.cart-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(105, 105, 105, 0.7);
  border-radius: 5px;
  margin: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
